<table class="table table-hover">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Customer Name</th>
      <th>Value</th>
      <th>Shipping Address</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to 'Show', admin_order_path(order), class: 'btn btn-sm btn-default' %>
        </td>
        <td><%= order.user.firstname + ' ' + order.user.lastname %></td>
        <td><%= order.value %></td>
        <td><%= order.shipping_address.address.street if order.shipping_address.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
