<% MainCategory.all.each do |x| %>
  <section class='main-category'>
  	  <div>
	  <h2 class='title'><span><%= link_to x.name.upcase, main_category_path(x) %></span></h2><br/>
	  </div>
	  <% x.product_categories[0..2].each do |y| %>
		  <div class='thumbnail-category'>
		  	<h3><%= link_to y.name, product_category_path(y.id) %></h3><br/>
		    <%= image_tag y.image.url, class: "img-thumbnail" %>
		    
		</div>
	  <% end %>
  </section>
<% end %>