<%= @main_category.name %>
<% @main_category.product_categories.each do |category| %>
	<div class="col-sm-6 col-md-4">
	  <div class="thumbnail">
	    <%= image_tag category.image.url, class: "img-thumbnail" %>
	    <div class="caption">
	      <h3><%= link_to category.name, product_category_path(category) %></h3>
	    </div>
	</div>
	</div>
<% end %>