<% MainCategory.all.each do |x| %>
  <h1><%= x.name %></h1><br/>
  <% x.product_categories.each do |y| %>
  	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag y.image_url %>
	      <div class="caption">
	        <h3><%= y.name %></h3>
	      </div>
	    </div>
	  </div>
	</div>
  <% end %>
<% end %>