#shopContainer {
  #leftNavigation {
  	width: 20%;
  	border-radius: 4px;
  	background: white;
  	float: left;
  }
  #rightContent {
  	width: 78%;
  	background: white;
  	float: right;
  	border-radius: 4px;
  }
}