#shopContainer {
  .main-category {
    .thumbnail-category{
      position: relative;
      bottom: 70px;
      h3 {
        position: relative;
        background: #fff;
        border: 1px solid #d3d3d3;
        display: inline-block;
        top:345px;
        right: 15px;
        font-size: 30px;
        padding: 5px 15px;
        a {
          font-family: 'Oswald', sans-serif;
          color: #434848;
        }
        a:hover {
          text-decoration: none;
        }
      }
      img {
        width: 350px;
        height: 350px;
      }
        padding: 0px 13px;

      display: inline-block;
    }
  } 
  
}
