#shopContainer {
  #leftNavigation {
  	width: 20%;
  	border-radius: 4px;
  	background: white;
  	float: left;
  }
  #rightContent {
  	width: 78%;
  	background: white;
  	float: right;
  	border-radius: 4px;

  	.thumbnail {
  		width: 210px;
  		.img-thumbnail {
  			max-height: 190px;
  			max-width: 190px;
  		}
  	}
  }
}